img {
    width: 30%;
    float: left;
    margin: 1.66%;   
    border-radius: 5%;
}

p {
    font-family: 'Raleway', sans-serif;
    margin-left: 1.66%;
    padding-bottom: 0;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  2px solid black;
    width: 30%;
    color: red;
}
